name: My GitHub Actions Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Basic import check
        run: |
          python -c "import app.main; print('Import OK')"

      - name: Run tests (if any)
        run: |
          pytest -q || (rc=$?; if [ $rc -eq 5 ]; then echo "No tests collected - OK"; exit 0; else exit $rc; fi)
